.msg {
    border: 2px solid #293855;
    border-radius: 15px;
    box-shadow: 4px 2px 2px #293855;
    margin-bottom: .5rem;
    padding: .5rem;
}

.msg-assistant {
    background-color: #4265D6;
    color: #ced2da;
}

.msg-user {
    background-color: #C2E7C9;
    color: #293855;
}

.msg-body {
    font-weight: 600;
}

.creation-date {
    margin-left: .2rem;
    font-size: small;
    font-weight: 500;
}